* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.circle {
  padding: 20px;
  position: absolute;
  background-color: rgb(255, 0, 0);
  border: 3px solid rgb(219, 86, 86);
  border-radius: 50%;
}
.sup__title {
  text-align: center;
  font-size: calc(25px + 1vw);
}
