* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100vh;
}
body {
    background: linear-gradient(#e66465, #9198e5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.score {
    display: flex;
    position: absolute;
    top: 7%;
    font-size: 40px;
    color: black;
    font-weight: bold;
}
.gameOver {
    font-size: 70px;
    position: absolute;
    color: white;
    font-weight: bold;
    letter-spacing: 10px;
    display: none;
}
.player1 {
    position: absolute;
    top: 265px;
    font-size: 50px;
    color: white;
    font-weight: 300;
    display: none;
}
.player2 {
    position: absolute;
    top: 265px;
    font-size: 50px;
    color: white;
    font-weight: 300;
    display: none;
}
